# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/
eggs/
.eggs/
*.egg-info/
*.egg
MANIFEST
data
.coverage
.ipynb_checkpoints
**/*.DS_Store
data_raw/
data_processed/
*.csv
.env
.vscode/
