# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
*.egg-info/
*.egg
.coverage
.ipynb_checkpoints
**/*.DS_Store
data_raw/
data_processed/
*.csv
.env
.vscode/
*.xlsx
*.png

credentials.json
*.jpeg
*.jpg
test.json
